.contact-map {
  width: 100%;
  margin-bottom: 30px;

  &__cta {
    color: #D2A11E;
    font-weight: bold;
  }

  &__header {
    padding: 15px;
    background: #292929;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      margin-bottom: 0;

      @media #{$s} {
        flex-direction: column;
      }
    }

    li {
      margin-right: 15px;
    }
  }

  &__map {
    width: 100%;
    height: 300px;
  }
}