.cta {
  flex-direction: row;
  display: flex;
  padding: 60px 0;
  align-items: center;

  &__text {
    flex: 1;
    h3 {
      font-weight: normal;
    }
  }

  &-btn {
    background: #D2A11E;
    color: #fff !important;
    padding: 15px 20px !important;
  }
}