.full-height-hero {
  height: 100vh;
  background: #000;
  position: relative;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;

  @media #{$s} {
    background-position: center;
  }

  &__go-down {
    width: 56px;
    height: 56px;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    margin: auto;
  }
}