.footer {
  background: #1E1E1E;
  padding: 30px 0;

  &__logo {
    width: 50%;
    @media #{$s} {
      display: block;
      margin: 0 auto;
    }
  }

  &__menu {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #4E4E4E;

    @media #{$s} {
      flex-direction: column;
      padding-top: 30px;
      align-items: center;
    }

    li {
      margin: 5px;
      a {
        color: #fff;
      }
    }
  }

  &__contact {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;

    @media #{$s} {
      flex-direction: column;
      margin-left: 30px;
    }

    ul:last-child {
      margin-left: 30px;

      @media #{$s} {
        margin-top: 30px;
        margin-left: 0;
      }
    }
    li {
      color: #fff;
    }
  }
}