.header {
  height: 90px;
  background: #111;
  width: 100%;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0, .1);
  position: relative;
  z-index: 1;
  transition: 300ms all;

  &-container {
    background: #111;
    height: 90px;
  }

  &__sticky {
    position: fixed;
    top: 0;
    z-index: 999;
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
  }

  &__logo {
    @media #{$s} {
      width: 70%;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-left: 30px;
    height: 90px;
    align-items: center;

    @media #{$s} {
      display: none;
    }

    &>li {
      height: 90px;
      margin: 10px;
      position: relative;
      display: flex;
      align-items: center;

      &:hover {
        .sub-menu {
          display: block;
        }
      }

      a {
        color: rgb(219, 219, 219);
        transition: .3s all;

        &:hover {
          color: #fff;
        }
      }

      .sub-menu {
        display: none;
        position: absolute;
        top: 90px;
        background: #111;
        z-index: 3;
        padding: 10px 20px;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);

        a {
          display: block;
          padding: 5px 0;
        }
      }
    }
  }

  &__menu-mobile {
    display: none;
    height: 100%;
    position: fixed;
    right: -100%;
    top: 0;
    background: #fff;
    width: 80%;
    transition: all 300ms;
    background: #292929;
    box-shadow: -3px 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 0;
    margin: 0;
    overflow: auto;
    z-index: 89;

    @media #{$s} {
      display: block;
    }

    &--open {
      right: 0;
    }

    li {
      margin: 10px;

      a {
        display: block;
        color: rgb(219, 219, 219);
        transition: .3s all;
        font-size: 18px;
        padding: 15px;

        &:hover {
          color: #fff;
        }
      }
    }

  }

  .header__closer {
    font-size: 32px;
    color: rgb(219, 219, 219);
    display: block;
    padding: 15px;
  }

  .header__opener {
    font-size: 32px;
    color: #fff;
    display: none;
    padding: 0 15px;

    @media #{$s} {
      display: block;
    }
  }
}

