.newsletter-form {
  margin-top: 15px;
  input {
    border: 1px solid #212121;
    height: 50px;
    font-size: 18px;

    &:focus {
      border-color: #212121;
      box-shadow: none;
    }
  }

  .btn {
    background: #D2A11E;
    border: solid transparent 2px;
    color: #fff;
    padding: 15px 20px;
    font-weight: bold;
    box-shadow: none;

    &:hover {
      background: transparent;
      border: solid #D2A11E 2px;
      color: #D2A11E;
      box-shadow: none;
    }
  }
}
