.post-item {
  background: #fff;
  box-shadow: 0 0 4px 2px rgba(0,0,0,0.03);
  margin-bottom: 30px;
  border-radius: 5px;

  &__img {
    display: block;
    height: 230px;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    background-color: #ccc;
  }

  &__excerpt {
    padding: 20px 30px;
    min-height: 380px;

    &__meta {
      margin-bottom: 5px;

      span {
        font-size: 13px;
        margin-right: 15px;
        color: #828282;

        i {
          margin-right: 5px;
          color: #D2A11E;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .btn {
      min-width: 170px;
      padding: 16px 25px;
      background: #212121;
      border: 2px solid transparent;
      color: #f9f9f9;
      font-weight: bold;

      &:hover {
        color: #212121;
        border: 2px solid #212121;
        background: transparent;
      }
    }

    h4 {
      font-size: 22px;
      font-weight: normal;
      color: #212121;
      margin-bottom: 15px;
    }

    p {
      margin: 20px 0;
      display: block;
      color: #414141;
      line-height: 1.6;
      color: #828282;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    padding: 30px;

    img {
      padding-right: 15px;
      width: 60px;
    }

    h5 {
      font-weight: bold;
      font-size: 15px;
      color: #414141;
    }

  }
}