.post-single {

  h1 {
    margin-top: 60px;
    font-weight: normal;
    font-size: 28px;
  }

  &__image {
    margin-bottom: 30px;
  }

  &__meta {
    margin: 30px 0;

    span {
      position: relative;
      padding-right: 10px;
      margin-right: 10px;
      color: #828282;

      i {
        margin-right: 5px;
        color: #D2A11E;
      }

      &:last-child {
        margin-right: 0;
        &::before {
          content: none;
        }
      }

      &::before {
        content: '';
        width: 1px;
        height: 12px;
        background: #e5e7f2;
        position: absolute;
        right: 0;
        top: 2px;
      }
    }
  }

  &__content {
    p {
      color: #828282;
      font-size: 1.1em;
      margin-bottom: 20px;
    }

  }

  &__share {
    margin: 30px 0;
  }

  .btn-facebook {
    padding: 15px 20px;
    background: #4167B2;
    border: 2px solid transparent;
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
    i {
      padding-right: 10px;
    }

    &:hover {
      background: transparent;
      border: 2px solid #4167B2;
      color: #4167B2;
    }
  }

  .btn-twitter {
    padding: 15px 20px;
    background: #00ACED;
    border: 2px solid transparent;
    color: #fff;
    font-weight: bold;
    i {
      padding-right: 10px;
    }

    &:hover {
      background: transparent;
      border: 2px solid #00ACED;
      color: #00ACED;
    }
  }

  &__author {
    padding: 30px;
    border: 1px solid #e5e7f2;
    border-radius: 4px;
    margin: 60px 0;
    display: flex;
    flex-direction: row;

    img {
      margin-right: 30px;
      height: 60px;
    }

    &__info {
      span {
        b {
          color: #212121;
        }
        display: block;
        margin-bottom: 5px;
        color: #828282;
      }
    }
  }

  &__comment-box {
    border-top: 1px solid #e5e7f2;
    padding-top: 30px;
  }

  &__sidebar {
    padding: 30px;
    border-radius: 4px;
    border: 1px solid #e5e7f2;
    padding-bottom: 0;
    background: #f1f1f1;
    margin-top: 60px;

    h5 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    a {
      color: #828282;
      display: block;
      margin-bottom: 10px;
    }

    .textwidget {
      color: #828282;
    }

    &-section {
      margin-bottom: 40px;
    }
  }

  .searchform {
    position: relative;

    label {
      display: none;
    }

    input[type=text] {
      height: 50px;
      line-height: 50px;
      max-width: 100%;
      min-width: 100%;
      border: 1px solid #e5e7f2;
      padding: 20px;
    }

    button {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 50px;
      border: none;
      border: 1px solid #e5e7f2;
      padding: 0 20px;

    }
  }

}


.related-posts {
  margin-top: 60px;
  &__title {
    margin-bottom: 30px;
  }


}