.procedure-content {
  background: #292929;
  box-shadow: 0 0 4px 0px rgba(0,0,0,0.05);
  border-radius: 5px;

  .row {
    @media #{$l}, #{$xl} {
      display: flex;
    }

  }

  .eq-hw {
    display: flex;
    flex: 1;
  }

  &__list {
    background: rgba(0,0,0,.1);
    width: 100%;

    &-active {
      font-weight: bold;
      background: #292929;
    }

    ul {
      li {
        a {
          display: block;
          color: #fff;
          padding: 15px 30px;
          font-size: 18px;
        }
      }
    }
  }

  &__content {
    padding: 30px;
    background: rgba(0,0,0,.01);
    color: #fff;

    h3 {
      margin-bottom: 15px;
    }
  }

  &__form {
    padding: 30px 30px 60px 30px;

    h4 {
      color: #fff;
      margin-bottom: 15px;
    }
  }

}