.social-banner {
  display: flex;
  justify-content: space-around;
  padding: 30px;

  .fb:hover {
    span {
      color: #4167B2;
    }

  }

  .ig:hover {
    span {
      color: #d6249f;
    }
  }

  .wa:hover {
    span {
      color: #00C525;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #525252;
    transition: all .3s;

    &:hover {
      color: #414141;
    }

    span {
      display: block;
      font-size: 42px;
      color: #414141;
      text-align: center;
    }
  }
}