.testimonial {
  display: flex;
  align-items: center;

  &__content {
    background: #212121;
    color: #ffff;
    padding: 60px;
    @media #{$xl} #{$l} {
      margin-top: 50%;
    }

    p {
      font-size: 32px;
      font-weight: normal;
    }

    span {
      font-size: 22px;
      font-weight: bold;
    }
  }
}