.yt-slider {
  position: relative;

  &__slide {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    width: 80%;
    visibility: hidden;
    transition: all .3s ease;

    &-active {
      opacity: 1;
      visibility: visible;
    }

  }

  &__title {
    display: block;
    background: #292929;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;

    h5 {
      font-size: 18px;
      text-align: center;
      font-weight: bold;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    width: 45px;
    height: 45px;
    border: none;
    outline: none;

    &-next {
      right: 50px;
      background: url('../img/btn_next.png');
      background-size: cover;

      @media #{$s} {
        right: 0;
      }
    }

    &-prev {
      left: 50px;
      background: url('../img/btn_prev.png');
      background-size: cover;

      @media #{$s} {
        left: 0px;
      }
    }
  }


}

